* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Helvetica;
}

html {
  height: 100%;
}

body {
  background-color: #eee;
  height: 100%;
}

.container {
  background-color: #fff;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 50px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  border: 1px solid #999;
  margin-bottom: 30px;
  padding: 30px 0;
}

.main {
  display: flex;
  flex: 1;
}

.sidebar {
  border: 1px solid #999;
  flex: 1;
  padding: 30px 0;
  text-overflow: ellipsis;
}

.content {
  border: 1px solid #999;
  flex: 3;
  margin-left: 30px;
  padding: 30px 0;
  text-overflow: ellipsis;
}

footer {
  border: 1px solid #999;
  margin-top: 30px;
  padding: 30px 0;
}
