* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  background-color: #eee;
}

.container {
  background-color: #fff;
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  flex-wrap: wrap;
}

.header__logo {
  display: flex;
  font-size: 55px;
  font-weight: bold;
}

.header__logo-pluses {
  color: #1abc9c;
  margin-left: 5px;
}

nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 360px;
}

a {
  text-decoration: none;
  color: #454545;
  font-size: 13px;
  flex-basis: 110px;
  text-align: center;
  padding: 10px;
}

.app {
  background-color: #1abc9c;
  display: flex;
  padding: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.app__smartphon {
  display: flex;
  margin: 0 auto;
}

.app__text {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 450px;
  margin: auto 0;
}

.app__text p {
  margin: 45px auto;
  font-size: 15px;
}

.app__button {
  height: 40px;
  width: 120px;
  align-items: center;
  background-color: #1abc9c;
  color: #fff;
  border-radius: 4px;
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}

.propositions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 45px;
}

.propositions__icon-and-text {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  font-family: Helvetica;
  color: #454545;
  font-size: 14px;
  text-align: center;
}

.propositions__icon-background {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  align-self: center;
  background-color: #1abc9c;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
}

.propositions__icon-and-text p{
  margin-top: 10px;
  margin-bottom: 60px;
  font-size: 13px;
  line-height: 1.5;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1abc9c;
  justify-content: space-around;
  color: #fff;
  font-size: 20px;
  padding: 15px 0;
}

.footer__title {
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 490px;
}

input {
  font-size: 15px;
  margin-bottom: 15px;
  padding: 5px;
}

textarea {
  height: 100px;
  font-size: 15px;
  padding: 5px;
}

.footer__submit {
  width: 80px;
  align-self: center;
}

.footer__button {
  height: 40px;
  width: 210px;
  align-items: center;
  background-color: #1abc9c;
  color: #fff;
  border-radius: 4px;
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  margin-top: 50px;
}
